@model Vidly.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Model.Name
Membership Type:@Model.MemberShipType.Name
@if (Model.Birthdate.HasValue)
{
    <p>Birthdate: @Model.Birthdate.Value.ToShortDateString()</p>
}